<StateInfo>
	<dialog key="Home" initial="FindDinner" path="~/Default.aspx">
		<state key="FindDinner" page="~/Views/Home/Index.aspx" title="Find a Dinner"/>
	</dialog>
	<dialog key="LogOn" initial="Page">
		<state key="Page" page="~/Views/Account/LogOn.aspx" title="Log On"/>
	</dialog>
	<dialog key="Register" initial="Page">
		<state key="Page" page="~/Views/Account/Register.aspx" title="Register"/>
	</dialog>
	<dialog key="About" initial="Page">
		<state key="Page" page="~/Views/Home/About.aspx" title="About"/>
	</dialog>
	<dialog key="Dinners" initial="Upcoming">
		<state key="Upcoming" page="~/Views/Dinners/Index.aspx" title="Upcoming Dinners"/>
	</dialog>
	<dialog key="MaintainDinner" initial="Details">
		<state key="Details" page="~/Views/Dinners/Details.aspx" title="Dinner Details" route="Dinners/Details/{id}">
			<transition key="NotFound" to="NotFound"/>
			<transition key="Edit" to="Edit"/>
			<transition key="Delete" to="Delete"/>
		</state>
		<state key="Edit" page="~/Views/Dinners/Edit.aspx" title="Edit Dinner">
			<transition key="NotFound" to="NotFound"/>
			<transition key="InvalidOwner" to="InvalidOwner"/>
		</state>
		<state key="Delete" page="~/Views/Dinners/Delete.aspx" title="Delete Dinner">
			<transition key="Confirm" to="Deleted"/>
			<transition key="NotFound" to="NotFound"/>
			<transition key="InvalidOwner" to="InvalidOwner"/>
		</state>
		<state key="Deleted" page="~/Views/Dinners/Deleted.aspx" title="Deleted"/>
		<state key="NotFound" page="~/Views/Dinners/NotFound.aspx" title="Dinner Not Found"/>
		<state key="InvalidOwner" page="~/Views/Dinners/InvalidOwner.aspx" title="You Don't Own This Dinner"/>
	</dialog>
	<dialog key="HostDinner" initial="Create">
		<state key="Create" page="~/Views/Dinners/Create.aspx" title="Host a Dinner"/>
	</dialog>
</StateInfo>
